In [3]:
import os

os.listdir('Dataset/MentalHealth')

['5- anxiety-disorders-treatment-gap.csv',
 '7- number-of-countries-with-primary-data-on-prevalence-of-mental-illnesses-in-the-global-burden-of-disease-study.csv',
 '6- depressive-symptoms-across-us-population.csv',
 '2- burden-disease-from-each-mental-illness(1).csv',
 '1- mental-illnesses-prevalence.csv',
 '4- adult-population-covered-in-primary-data-on-the-prevalence-of-mental-illnesses.csv',
 '.ipynb_checkpoints',
 '3- adult-population-covered-in-primary-data-on-the-prevalence-of-major-depression.csv']

In [4]:
import pandas as pd

# Load the dataset
df = pd.read_csv('Dataset/MentalHealth/1- mental-illnesses-prevalence.csv')

# Preview the first few rows
df.head()

,Entity,Code,Year,Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized,Depressive disorders (share of population) - Sex: Both - Age: Age-standardized,Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized,Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized,Eating disorders (share of population) - Sex: Both - Age: Age-standardized
0,Afghanistan,AFG,1990,0.223206,4.996118,4.713314,0.703023,0.127700
1,Afghanistan,AFG,1991,0.222454,4.989290,4.702100,0.702069,0.123256
2,Afghanistan,AFG,1992,0.221751,4.981346,4.683743,0.700792,0.118844
3,Afghanistan,AFG,1993,0.220987,4.976958,4.673549,0.700087,0.115089
4,Afghanistan,AFG,1994,0.220183,4.977782,4.670810,0.699898,0.111815

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6420 entries, 0 to 6419
Data columns (total 8 columns):
 #   Column                                                                             Non-Null Count  Dtype
---  ------                                                                             --------------  -----
 0   Entity                                                                             6420 non-null   object
 1   Code                                                                               6150 non-null   object
 2   Year                                                                               6420 non-null   int64
 3   Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized  6420 non-null   float64
 4   Depressive disorders (share of population) - Sex: Both - Age: Age-standardized     6420 non-null   float64
 5   Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized        6420 non-null   float64
 6   Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized        6420 non-null   float64
 7   Eating disorders (share of population) - Sex: Both - Age: Age-standardized         6420 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 401.4+ KB

In [6]:
df.isnull().sum()

Entity                                                                                 0
Code                                                                                 270
Year                                                                                   0
Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized      0
Depressive disorders (share of population) - Sex: Both - Age: Age-standardized         0
Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized            0
Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized            0
Eating disorders (share of population) - Sex: Both - Age: Age-standardized             0
dtype: int64

In [7]:

#Drop code Column from dataframe
df.drop(columns ='Code', inplace=True)

#Rename the lengthy columns to make the table compact
df.rename(columns = {
         'Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized': 'Schizophrenia',
          'Depressive disorders (share of population) - Sex: Both - Age: Age-standardized': 'Depression',
          'Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized': 'Anxiety',
          'Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized': 'Bipolar',
          'Eating disorders (share of population) - Sex: Both - Age: Age-standardized' : 'EatingDisorders'
}, inplace = True)


#changes confirmed
df.head()

,Entity,Year,Schizophrenia,Depression,Anxiety,Bipolar,EatingDisorders
0,Afghanistan,1990,0.223206,4.996118,4.713314,0.703023,0.127700
1,Afghanistan,1991,0.222454,4.989290,4.702100,0.702069,0.123256
2,Afghanistan,1992,0.221751,4.981346,4.683743,0.700792,0.118844
3,Afghanistan,1993,0.220987,4.976958,4.673549,0.700087,0.115089
4,Afghanistan,1994,0.220183,4.977782,4.670810,0.699898,0.111815

In [9]:
df.duplicated().sum()
df.head()

,Entity,Year,Schizophrenia,Depression,Anxiety,Bipolar,EatingDisorders
0,Afghanistan,1990,0.223206,4.996118,4.713314,0.703023,0.127700
1,Afghanistan,1991,0.222454,4.989290,4.702100,0.702069,0.123256
2,Afghanistan,1992,0.221751,4.981346,4.683743,0.700792,0.118844
3,Afghanistan,1993,0.220987,4.976958,4.673549,0.700087,0.115089
4,Afghanistan,1994,0.220183,4.977782,4.670810,0.699898,0.111815